
#mydiv {
    position:absolute;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 20em;
    margin-top: -20em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;    
}        

